.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 0%;
    background-color: #12362A;
    color: #FDFDFC;
    
}

.box1 {
    flex: 1;
}

.box2 {
    display: none;
    padding: 0 5%;
    flex: 1;
}

.box3 {
    display: none;
    padding: 0 5%;
    flex: 1;
}

.box4 {
    display: none;
    padding: 0 5%;
    flex: 1;
}

.box5 {
    display: none;
    padding: 0 5%;
    flex: 1;
}

.box6 {
    display: none;
    padding: 0 5%;
    flex: 1;
}

.box7 {
    padding: 0 5%;
    margin: 5%;
    flex: 1;
}

.box8 {
    padding: 0 5%;
    flex: 1;
    font-size: 10px;
}

/* logoer */
.grid-logoer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.center-logo-grid {
    margin: 0 auto;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.logo-img {
    width: fit-content;
    max-width: 150px;
    max-height: 45px;
}

.kontaktknap {
    background-color: #FC8ECA;
    border: none;
    color: #12362A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 33px;
  }

  @media only screen and (min-width: 768px) {
    .footer1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        margin: 0%;
        background-color: #12362A;
        color: #FDFDFC;
        
    }
    
    .box1 {
        flex: 1;
    }
    
    .box2 {
        display: block;
        padding: 1%;
        flex: 1;
    }
    
    .box3 {
        display: block;
        padding: 1%;
        flex: 1;
    }
    
    .box4 {
        display: block;
        padding: 1%;
        flex: 1;
    }
    
    .box5 {
        display: block;
        padding: 1%;
        flex: 1;
    }
    
    .box6 {
        display: block;
        padding: 1%;
        flex: 1;
    }
    
    .box7 {
        display: inline-flex;
        padding: 0;
        flex: 1;
    }
    
    .box8 {
        display: flex;
        padding: 0 5%;
        flex: 1;
        font-size: 10px;
    }
    
    .kontakt {
        background-color: #FC8ECA;
        border: none;
        color: #12362A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 33px;
      }
  }

.hjemcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 0%;
    background-color: #FDFDFC;
    color: #12362A; 
}

.hjem1 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.hjem2 {
    margin-left: 40px;
    margin-right: 40px;
}

.hjem2 h1{
    font-family: ropa-mix-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.hjem2 p{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}



.hjempic {
    max-width: 310px;
    width: 100%;
    max-height: 233px;
    height: 100%;
}

.teknologiknap {
    background-color: #BCE784;
    border: none;
    color: #12362A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 33px;
}

.omknap {
    background-color: #BCE784;
    border: none;
    color: #12362A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 33px;
}

.banner {
    background-color: #F0F0E8;
    color: #12362A;
    font-family: ropa-mix-pro, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}
  
